<h1>BURGERS!!! NOM NOM NOM</h1>

<h2>Burgers to DEVOUR!</h2>

<ul>
    {{#each burgers}}
        {{#unless devour}}
            {{> burger/burgerBlock devour=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>No Thank You!</h2>

<ul>
    {{#each burgers}}
        {{#if devour}}
            {{> burgers/burgerBlock devour=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add A Yummy Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="brgr">Whatcha gonna do?</label><br>
        <input type="radio" name="devour" value="1" checked> DEVOUR IT! <br>
        <input type="radio" name="devour" value="0"> No Thank You 
    </div>

    <button>Serve up your choice!</button>
</form>